<!DOCTYPE html>
<html lang="ko" 
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="/shared/_layout">

<head>
<meta charset="UTF-8">
<title>home</title>

<script src="../../../js/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/	
	
	$(function(){
		
		var errorCode = /*[[${errorCode}]]*/''; 
		var errorMsg = /*[[${errorMsg}]]*/''; 
		
		// 메뉴리스트 조회 시 예외가 발생한다면
		if( errorCode < 0 ){ alert(errorMsg); return; }
		
		
	});


/*]]>*/		
</script>
</head>
<body>
	
	<!-- Content -->
	<div layout:fragment="content">
		
		<!-- 단순 컨텐츠 문자열에서 파라미터를 보이고 싶을 때 -->
		[[${userInfoMap.userNm}]]
	
		<div style="text-align: center;">
			<table id="menuTb" border="1">
				<thead >
					<tr>
						<th>메뉴코드</th>
						<th>상위메뉴코드</th>
						<th>메뉴명</th>
						<th>메뉴레벨</th>
						<th>메뉴경로url</th>
						<th>메뉴파일명</th>
						<th>메뉴위치</th>
						<th>순서번호</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="menu : ${menuList}">
						<td th:text="${menu.ALM_MENU_C}"></td>
						<td th:text="${menu.ALM_UP_MENU_C}"></td>
						<td th:text="${menu.MENU_NM}"></td>
						<td th:text="${menu.MENU_LVL}"></td>
						<td th:text="${menu.MENU_PATH_URL}"></td> <!-- #strings.isEmpty(menu.MENU_PATH_URL) : 널 또는 '' 값이면 true 리턴 -->
						<td th:text="${menu.MENU_FILE_NM}"></td>
						<td th:text="${menu.MENU_PLC_VAL}"></td>
						<td th:text="${menu.ALM_MENU_SEQ}"></td>
					</tr>
				</tbody>
			</table>
		</div>


		<!-- 상대경로 라는데 구라같고 걍 [절대경로] 인듯 -->
		<div id="aaa" th:replace="~{shared/_layout :: test}"></div>


		<div th:fragment="test_data">
		</div>

	</div><!--____________________Content 부분 끝 블럭____________________ --> 

	
	
	<!--<div layout:fragment="content"> 
		
		 로그인정보 받기 테스트    
	<ul>
		<li th:text="${userInfoMap.userNm}"></li>
		<li th:text="${userInfoMap.authTc}"></li>
		<li th:text="${userInfoMap.ingCondTc}"></li>
		<li th:text="${userInfoMap.ascnC}"></li>
		<li th:text="${userInfoMap.brC}"></li>
	</ul>
	-->
	
	
</body>
</html>