<!doctype html>
<html lang="en" 
 xmlns:th="http://www.thymeleaf.org" 
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="/common/base">
 <!-- 언어 = 영어 -->
 <!-- 타임리프 쓰려면 선언 -->
 <!-- layout:decorate, layout:fragment 쓰려면 작성 -->
 <!-- 어떤 html 을 레이아웃으로 삼을지에 대한 절대경로 -->
 
<head>
 
 	<!-- 해당문서의 문자를 인코딩함 -->
    <meta charset="utf-8">
   
  	<!-- 뷰포트 설정                    : 반응형 웹 디자인서 사용함, 모바일기기 같이 작은 화면 크기에서 뷰포트의 설정을 통해 적정한 화면 비율을 유지하도록함.
        content="width=device-width : 기기의 화면에 맞게 웹페이지를 조정하여 디바이스 크기에 맞춰주는 설정.
        initial-scale=1             : 첫 화면 로드 시 초기 줌레벨, 1 = 100% 로 정상크기를 표시하는 설정.   	
  	  -->
	<meta name="viewport" content="width=device-width, initial-scale=1">	

	<title>파일업로드 테스트</title>
   
   	<!-- 스크립트 zone, th:inline="javascript" : 스크립트 영역에서 타임리프문법을 쓰기위한 카마에 -->
	<script th:inline="javascript">
	/*<![CDATA[*/	

	$(function(){
	
		
	});


	/*]]>*/		
	</script>
</head>
<body>
 
 	<div layout:fragment="content">
		<h1>파일업로드</h1>
		<button type="button" class="btn btn-primary">파일 업로드</button>
	</div>
   
</body>
</html>