<!doctype html>
<html lang="en" 
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="/common/base"><!-- base.html 의 모든것을 해당 화면에 갖다붙이기 벗, layout:fragment="content" 이부분은 각 컨텐츠용 -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시판</title>
  <script>
  /*<![CDATA[*/	
	
	$(function(){

	});


  /*]]>*/	
  </script>
 
  </head>
  <body>
  

  
  	<div layout:fragment="content">
  
	    <h1>게시판</h1>
	
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">First</th>
		      <th scope="col">Last</th>
		      <th scope="col">Handle</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>Mark</td>
		      <td>Otto</td>
		      <td>@mdo</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>Jacob</td>
		      <td>Thornton</td>
		      <td>@fat</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td colspan="2">Larry the Bird</td>
		      <td>@twitter</td>
		    </tr>
		  </tbody>
		</table>
	
	
 	</div>
 
  </body>
</html>